<html ng-app="blogApp">
	<head>
		<title> Home </title>
		<link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="app/app.css"/>
		<script src="//assets.adobedtm.com/ca6614028339/5b7d8057ce4c/launch-f75524702716-development.min.js" async></script>
	</head>
	<script src="app/bower_components/angular/angular.js"></script>
	<script src="app/tabble-list/app.js"></script>
<body>
	<script type="text/javascript">
	var digitalData = {
		test: "value",
		cart: {
		  cartID: "123",
		  price: {
			cartTotal: "18"
		  }
		}
	  }
	  _satellite.track("search-ste", { search_keyword: "hello", search_results: 1 });
	</script>
	<div ng-controller="TabbleListController" >
	<div id="sidebar-wrapper">
	  <img src="app/images/ly.png" class="myImage">
	    <div class="userProfile">
	      <div class="userName">
	        Yuan Li
	      </div>
	      <div class="userTitle">
	        Software Engineer
	      </div>
	    </div>
			<ul class="sidebar-nav">
			    <li ng-repeat="tab in tabLists">
			        <a href="#" ng-controller="Simple"
						ng-click="showTab(tab.name)">{{tab.name}}</a>
			    </li>
			</ul>
        </div>
	</div>
	<div id="page-content-wrapper">
		<h1>{{tabName}}</h1>
		<p>{{info}}</p>
	</div>
</body>
</html>
