<html ng-app="blogApp">
	<head>
		<title> Home </title>
		<link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="app/app.css"/>
		<script src="//assets.adobedtm.com/ca6614028339/5b7d8057ce4c/launch-f75524702716-development.min.js" async></script>
	</head>
	<script src="app/bower_components/angular/angular.js"></script>
	<script src="app/tabble-list/app.js"></script>
<body>
	<script type="text/javascript">
	var digitalData = {
   cart: {
       favoriteBrands: [ "Nike", "Old Navy" ],
       item: [
           {
               quantity: "1",
               price: "2.97",
               productInfo: {
                   sku: "10008761",
                   productName: "Green Widget",
                   fulfillmentMethod: "shipped",
                   colors: [ "green", "black" ]
               }
           },
           {
               quantity: "3",
               price: "36.94",
               productInfo: {
                   sku: "20464228",
                   productName: "Blue Widget",
                   fulfillmentMethod: "pick up in store",
                   fulfillmentStore: "101",
                   colors: [ "blue", "white" ]
               }
           }
       ]
   }
}

	  _satellite.track("search-ste", { search_keyword: "hello", search_results: 1 });
	</script>
	<div ng-controller="TabbleListController" >
	<div id="sidebar-wrapper">
	  <img src="app/images/ly.png" class="myImage">
	    <div class="userProfile">
	      <div class="userName">
	        Yuan Li
	      </div>
	      <div class="userTitle">
	        Software Engineer
	      </div>
	    </div>
			<ul class="sidebar-nav">
			    <li ng-repeat="tab in tabLists">
			        <a href="#" ng-controller="Simple"
						ng-click="showTab(tab.name)">{{tab.name}}</a>
			    </li>
			</ul>
        </div>
	</div>
	<div id="page-content-wrapper">
		<h1>{{tabName}}</h1>
		<p>{{info}}</p>
	</div>
</body>
</html>
